/* Portfolio Styling */

body {
    background-color: #f8f8f8;
    color: #444;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
}

/* ------------------------------------------
| LEFT CONTENT
---------------------------------------------*/
#left_content {
    position: relative;
    background-color: #00172a;
    text-align: center;
    color: #ccc;
}

#portrait {
    padding: 30px 0px;
}

#portrait img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}


#contact ul {
    padding: 10px 40px 30px 40px;
    list-style: none;
    text-align: left;
}

#contact ul li {
    padding: 10px 5px;
    font-size: 16px;
}

#left_content h3 {
    background-color: #002d55;
    color: #fff;
    padding: 8px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

#about p {
    text-align: justify;
    padding: 30px 30px;
    line-height: 1.5;
    font-size: 16px;
}

#hobbies {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 5px;
}

#hobbies ul {
    padding: 20px 10px;
}

#hobbies ul li {
    display: inline;
    padding: 5px 20px;
    
}

#hobbies ul li i {
    font-size: 30px;
}

/* ------------------------------------------
| MAIN CONTENT
---------------------------------------------*/

#main_content {
   
    padding: 30px 80px;
    color: black;
    width: 74%;
    text-align: left;
}

#main_content hr {
    background-color: #002d55;
    height: 2px;
    border: none;
}


#main_content i {
    color: #004480;
    margin-right: 15px;
    font-size: 30px;
}

#main_content h2 {
    font-weight: 300;
    font-size: 24px;
}

#header {
    position: relative;
    font-size: 30px;
    padding: 20px 0px;
    
}

#header h1 {
    font-size: 2.5em;
}

#header h1 span {
    color: #004480;
    
}

#header p {
    margin-top: -50px;
    color: #555;
    
}

#education {
    padding-top: 30px;
}

#skills ul li {
    color: #555;
    display: inline-block;
    padding: 8px 10px;
    
}

/* ------------------------------------------
| GRIDS, CONTENT BLOCKS
---------------------------------------------*/

.content-block {
    color: #555;
}

.content-block .content-left {
    width: 30%; 
    float: left; 
    padding: 25px 20px;
    font-size: 14px;
}   

.content-block .content-left i {
    font-size: 16px!important;
}

.content-block .content-right {
    width: 60%; 
    display: inline-block; 
    padding: 5px;
}

.content-block .content-right small {
    display: block;
    padding: 5px 0px 0px 0px;
    font-weight: 300;
}