/* Portfolio Styling 
Colors: 
-Light Blue: rgb(9, 114, 235)
-Medium Blue: rgb(8, 89, 180)

Fonts:
font-family: 'Roboto', sans-serif; --Site
font-family: 'Dancing Script', cursive; --Handwriting
*/

body {
    background-color: #f8f8f8;
    color: #444;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* ------------------------------------------
| LEFT CONTENT
---------------------------------------------*/
#left_content {
    display: inline-block;
    background-color: orange;
    text-align: center;
    width: 25%;
    color: #333;
    float: left;
}

#portrait {
    padding: 30px 0px;
}

#portrait img {
    height: 150px;
    width: 150px;
    border: 1px solid #333;
    border-radius: 50%;
}

#contact {

}


#contact ul {
    padding: 10px 40px;
    list-style: none;
    text-align: left;
}

#contact ul li {
    padding: 5px;
    font-size: 16px;
    color: #444;
}

#left_content h3 {
    background-color: #333;
    color: orange;
    padding: 8px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#about p {
    text-align: justify;
    padding: 10px 40px;
}

#hobbies ul {
    padding: 40px 10px;
}

#hobbies ul li {
    display: inline;
    padding: 5px 20px;
    
}

#hobbies ul li i {
    font-size: 40px;
}

/* ------------------------------------------
| MAIN CONTENT
---------------------------------------------*/

#main_content {
    display: inline-block;
    padding: 30px 80px;
    text-transform: uppercase;
    color: black;
    width: 75%;
    text-align: left;
}

#main_content hr {
    background-color: orange;
    height: 2px;
    border: none;
}


#main_content i {
    color: orange;
    margin-right: 15px;
    font-size: 30px;
}

#main_content h2 {
    font-weight: 300;
    font-size: 24px;
}

#header {
    position: relative;
    font-size: 30px;
    padding: 20px 0px;
}

#header h1 span {
    color: orange;
}

#header p {
    margin-top: -40px;
    
}

#education {
    padding-top: 30px;
}
