/* Portfolio Styling */

body {
    background-color: #f8f8f8;
    color: #222;
    padding: 30px 30px;
    margin: 0px;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 50px 70px;
    border: 3px solid #ddd;

}

@media(max-width: 768px){
    body {
        padding: 30px 10px;
    }

    .container {
        padding: 30px 15px;
    }

    .video-demo {
        width: 150px;
    }
}


.profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}


#nav {
    position: absolute;
    right: 50px;
    top: 30px;
    
}

#nav ul {
    list-style: none;
}

#nav ul li {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    
}

#nav ul li a {
    padding: 5px;
}

#nav ul li a:hover {
    
    transition: .08s ease-in-out;
    
    border-bottom: 2px solid #333;
}


@media(max-width: 768px){
    #nav {
       display: none;
    }
    
   
    .profile-pic {
        display: none;
    }
}

#main_container {
    
    padding: 0px 0px 60px 0px;
    
}

hr.shorten {
    background-color: #222;
    width: 50px;
    height: 5px;
    position: absolute;
    left: 0;
    margin-top: -5px;

}

.info-block {
    padding: 25px 0px;

}

.info-block h4 {
    margin: 5px auto;
    text-transform: uppercase;
}

.info-block h4:nth-child(2) {
    color: orange;
}

.info-block h4:nth-child(3){
    text-transform: none;
}

.info-block p {
    color: #444;
    line-height: 1.6;
    font-size: 1.1em;
    text-align: justify;
}

.muted {
    color: #777;
    text-transform: uppercase;
    font-size: .7em;    
}

.muted a {
    font-weight: bold;
    margin: 0px 5px;
    text-decoration: underline;
}

/*-----------------------------------
| HEADER
------------------------------------*/
#header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}


#header h1 {
    margin: 3px auto;
    font-weight: 600;
    font-size: 3.5em;
}

#header h1 span {
    color: orange;
}

#header p {
    padding-bottom: 30px;
    line-height: 1.8;
    font-size: 1.1rem;
    font-weight: bold;
    color: #444;
}

#header #story {
    margin-top: -10px; 
    text-align: justify; 
    
    line-height: 2;
}

@media (max-width: 768px){
    #header p {
        font-size: .8rem;
        line-height: 1;
    }
}


/*-----------------------------------
| LEFT ASIDE
------------------------------------*/
#left_aside {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 2px;
    text-align: left;
}

@media(max-width: 768px){
    #left_aside {
        display: block;
        width: 100%;
    }
}

#left_aside h2 {
    font-weight: 800;
    
}

#left_aside ul {
    padding: 30px 0px 30px 16px;
    font-weight: 300;
    list-style: square;
}

#left_aside ul li {
    padding: 3px 0px;
    margin: 0 auto;
}

/*-----------------------------------
| MAIN
------------------------------------*/
#main {
    position: relative;
    display: inline-block;
    width: 65%;
    margin-left: 15px;
    padding: 2px;
}

@media(max-width: 768px){
    #main {
        border-top: 1px solid #ccc;
        display: block;
        width: 100%;
        padding: 10px 5px;
        margin: 0 auto;
    }
}

/*-----------------------------------
| EDUCATION
------------------------------------*/
@media(max-width: 768px){
    #education_projects p {
        font-size: 1rem;
        line-height: 1.5;
    }
}

#education_page .title {
    font-size: 3rem;
    margin-top: -10px;
}

.info-block .icon {
   font-weight: 800;
   font-size: 20px;
    border-radius: 100%;
    
    margin-right: 15px;
}

/*-----------------------------------
| FOOTER
------------------------------------*/
#footer {
    position: relative;
    padding: 20px 20px 10px 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

#footer ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    list-style: none;
    padding: 30px;
}

@media(max-width: 768px){
    #footer ul {
        text-align: center;
        margin: 0 auto;
        padding: 2px;
        display: block;
    }

    #footer ul li {
        padding: 10px;
        margin: 0 auto;
    }

    #footer ul li i {
        margin: 0px;
    }
}

#footer ul li {
    color: #888;
}

#footer ul li i {
    margin-right: 10px;
    
}

#copyright  {
    color: #888;
    text-align: center;
}



